<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Node Vue Web">
        <link rel="icon" href="" />
        <link rel="stylesheet" href="/client/resources/css/reset.css"/>
        <link rel="stylesheet" href="/client/resources/css/common.css"/>
        <link rel="stylesheet" href="/client/resources/css/main.css"/>
        <title>Node Vue Web</title>
    </head>

    <body>
        <div id="root"></div>
        <script id="app-start-vue-page">const APP_USER_HTTP_REQUEST_URL = '/';</script>
        <script src="/client/build/bundle.js"></script>
    </body>
</html>
